<div class="container" *ngIf="order">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1>Your customer information</h1>
    </div>
    <div class="col-12 col-lg-8">
      <app-customer [customer]="order.customer"></app-customer>
    </div>
    <div class="col-12 col-lg-8" *ngIf="isAdmin">
      <div class="card">
        <div class="card-body">
          <h5 class="text-dark">Update order information</h5>
          <app-update-order-status-admin
            [order]="order">
          </app-update-order-status-admin>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8" *ngIf="!isAdmin">
      <div class="card">
        <div class="card-body">
          <span class="text-dark">Your order status: {{ order.status }}</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <h1>The products you ordered</h1>
      <span>Order total: &euro; {{ calculateTotal() }}</span>
    </div>
    <div class="col-12 col-lg-8" *ngFor="let cartItem of order.productOrders;">
        <app-cart-item
          [class]="'order-items'"
          [cartItem]="cartItem"
          [editable]="false">
        </app-cart-item>
    </div>
  </div>
</div>
