<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <form (ngSubmit)="onSubmit()" #productForm="ngForm" ngForm>
        <div class="form-group">
          <label>
            Name
            <input
              class="form-control"
              type="text"
              name="name"
              required
              ngModel
              #name="ngModel"
            />
          </label>
          <span class="help-block" *ngIf="!name.valid && name.touched">
              Please enter a valid name {{name.value}} is not a valid name
          </span>
        </div>
        <div class="form-group">
          <label>
            Description
            <textarea
              class="form-control"
              name="description"
              required
              ngModel
              #description="ngModel"
            ></textarea>
          </label>
          <span class="help-block" *ngIf="!description.valid && description.touched">
              Please enter a valid description {{description.value}} is not a valid description
          </span>
        </div>
        <div class="form-group">
          <label>
            Price
            <input
              class="form-control"
              type="number"
              name="price"
              required
              ngModel
              [valueAsNumber]
              #price="ngModel"
            />
          </label>
          <span class="help-block" *ngIf="!price.valid && price.touched">
              Please enter a valid price {{price.value}} is not a valid price
          </span>
        </div>
        <div class="form-group">
          <label>
            Image
            <input
              type="file"
              name="image"
              accept="image/png, image/jpeg"
              required
              (change)="onImageAdded($event)"
              ngModel
              #image="ngModel"
            />
          </label>
          <span class="help-block" *ngIf="!image.valid && image.touched">
              Please enter a valid image {{image.value}} is not a valid image
          </span>
        </div>
        <button type="submit" [disabled]="!productForm.valid" #submit class="btn btn-dark">Add product</button>
        <span class="help-block" *ngIf="!productForm.valid && productForm.touched">
          Make sure all the values are correct. Then you can press this button
        </span>
      </form>
      </div>
  </div>
</div>
