<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="/assets/images/nav-banner.png" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Products</a>
      </li>
      <li class="nav-item" *ngIf="customer">
        <a class="nav-link" [routerLink]="['', 'order', 'orders']">Orders</a>
      </li>
      <li class="nav-item" *ngIf="isUserAdmin">
        <a class="nav-link text-light" [routerLink]="['', 'order', 'all']">See all orders</a>
      </li>
      <li class="nav-item" *ngIf="isUserAdmin">
        <a class="nav-link text-light" [routerLink]="['', 'products', 'manage']">Manage products</a>
      </li>
      <li class="nav-item" *ngIf="!isUserAdmin">
        <a class="nav-link text-light" [routerLink]="['admin', 'signing']">Admin panel</a>
      </li>
    </ul>
    <a [routerLink]="['/cart', 'items']" class="navbar-text mobile-nav-item">
      <span>Cart </span>
      <img src="/assets/icons/cart.svg" alt="Shopping cart icon">
      <span *ngIf="cartItems" class="badge badge-dark">{{cartItems.length}}</span>
    </a>
    <span *ngIf="customer" class="navbar-text mobile-nav-item">
      Welcome back {{customer.firstName}}
    </span>
    <span *ngIf="customer" class="navbar-text mobile-nav-item">
      <button class="btn btn-light" (click)="logout()">Logout</button>
    </span>
    <span *ngIf="!customer" class="navbar-text mobile-nav-item">
      <button class="btn btn-light" routerLink="/customer/signing">Login</button>
    </span>
  </div>
</nav>
