.row {
  margin: 0;
  max-height: 100px !important;
}

.img-fluid {
  max-height: 98px !important;
}

span, input {
  display: inline;
}

.col-5 > * {
  margin-left: 15px;
}

input {
  margin-left: 15px;
  max-width: 50px;
}
