<div *ngIf="cartItem" class="row border-top border-bottom bg-light cart-item">
  <div class="row main align-items-center">
    <div class="col-2">
      <img class="img-fluid" src="{{ cartItem.product.imageUrl | mediaUrl }}" alt="{{ cartItem.product.name }} image">
    </div>
    <div class="col">
      <div class="row text-muted">
        <span>{{ cartItem.product.name }}</span>
      </div>
    </div>
    <div class="col">
      <input
        class="form-controls"
        type="number"
        name="amount"
        [valueAsNumber]
        (change)="updateAmount($event)"
        required
        [(ngModel)]="amount"
      />
    </div>
    <div class="col">
      <span>&euro; {{ cartItem.product.price * amount }} </span>
      <button class="close" (click)="onRemove()">&#10005;</button>
    </div>
  </div>
</div>
