<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <h1>Your shopping cart</h1>
      <button class="btn btn-danger" (click)="onClearCart()">Clear cart</button>
      <app-cart-item
        *ngFor="let cartItem of cartItems; let i = index"
        [cartItem]="cartItem"
        (updated)="onCartItemUpdated($event)"
        (removed)="onCartItemRemoved($event)">
      </app-cart-item>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-6">
      <app-cart-order [cartItems]="cartItems"></app-cart-order>
    </div>
  </div>
</div>
