h1, h3, p, label {
  margin-top: 20px;
  color: white !important;
}

form > * {
  display: block;
}

button {
  margin-right: 10px;
  display: inline-block !important;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}
