h1, h3, p, label {
  margin-top: 20px;
  color: white !important;
}

input {
  max-width: 50px;
  margin-right: 10px;
}

button {
  margin-right: 10px;
  display: inline-block !important;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.push-to-top {
  position:absolute;
  top: 0;
  width: 100%;
}

.push-to-bottom {
  position:absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 990px) {
  button {
    margin-top: 10px;
  }

  .push-to-top, .push-to-bottom {
    position:relative;
  }
}
